Repository bluejekyll/trust-dns, pull requests merged in 2019-04, with the labels that each got.

#722 Improve Additional processing
  crates/server/src/store/in_memory/authority.rs
  crates/server/tests/authority_battery/basic.rs
  crates/server/tests/authority_battery/dnssec.rs
  crates/server/tests/named_test_configs/example.com.zone
Labels: crate:server, enhance

#725 Add online signing of ANAME replaced records
  crates/server/src/authority/error.rs
  crates/server/src/named.rs
  crates/server/src/store/in_memory/authority.rs
  crates/server/tests/authority_battery/dnssec.rs
Labels: crate:server, feature:DNSSEC

#728 Generate meaningfull EdnsCodes from EdnsOptions
  crates/proto/src/rr/rdata/opt.rs
Labels: bug, crate:proto

#732 bump rusqlite dep to 0.17
  Cargo.lock
  crates/server/Cargo.toml
  crates/server/src/store/sqlite/persistence.rs
  tests/integration-tests/Cargo.toml
Labels: crate:server
